body {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

h1 {
    color: white;
    font-size: 50px;
    font-weight: normal;
}

p a {
    color: aquamarine;
    text-decoration: underline;
}

h2 {
    font-weight: 300;
    font-size: 42px;
    color: white;
}

h3 {
    font-size: 21px;
    color: gray;
}

footer p {
    text-align: right;
    color: gray;
}